# If conda activate does not work in PowerShell, use this command:
# conda init powershell

# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file> -c conda-forge -c jnettels

# Or install into an existing environment with:
# conda install --file requirements.txt -c conda-forge -c jnettels

pandas
numpy
numba
geopandas
matplotlib
osmnx
coolprop
fiona
rasterio
tobler
h3-py
contextily
libpysal
shapely
pygeos
openpyxl
fuzzywuzzy
owslib

# From conda channel "-c jnettels":
lpagg
trnpy

# Setuptools is required when using a cloned dhnx_addons repository
# (without actually installing it). Together with git, which must
# also be installed, it determines the package version in __init__.py.
setuptools_scm

# To allow "conda develop"
conda-build

# dhnx/oemof dependencies:
PyUtilib
Pyomo
addict
blinker
dill
nose

# pandapipes dependencies
deepdiff
